{{>header}}
<h1 class="page-title">Collabs</h1>
<div class="page-contents">
  <div class="blog">
    {{# each data.posts.results}}
      <div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
        <div class="post-info">
          <h2><a href="{{postUrl slug 'collabs'}}">{{{title}}}</a></h2>
          <p>{{{tagList tags prefix="Posted in "}}}
            {{#if author.name.first}}by {{author.name.first}}{{/if}}
          </p>
        </div>
        {{#if images}}<img src="{{{cloudinaryUrl images.[0] width=375 crop='fit' }}}">{{/if}}
        <p>{{shortContent content slug 'collabs'}}</p>
      </div>
      {{/each}}
  </div>
  <div>
    <h2>Categories</h2>
    <div>
      <a href="/collabs">All Tags</a>
      {{# each data.tags }}
        <a href="{{categoryUrl 'collabs' key}}">{{name}}</a>
        {{/each}}
    </div>
  </div>
  {{>pagination}}
</div>
