<link href="/styles/comic.css" rel="stylesheet" />
{{>header}}
<div class="post-container">
  <article>
    {{{comicPagination pagination}}}
    <div class="comic">
      <img class="comic-image" src="{{{cloudinaryUrl data.image}}}" title="{{data.image.hover}}">
      <div class="comic-caption">{{{data.image.caption}}}</div>
    </div>
    {{{comicPagination pagination}}}
    <p class="back"><a href="/{{section}}">&larr; Back to {{section}}</a></p>
  </article>
</div>
