{{>header}}
<div class="page-contents">
  <div class="blog">
    {{# each data.posts.results}}
      <button data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post" data-featherlight=".{{slug}}" onclick='createSlideshow("{{slug}}", {{{generateImageArray images title ../section slug content width=1000 height=1000 crop='fit' quality=100 }}})'>
        <div class="post-images">
          {{# each images as |image|}}
            <img src="{{{cloudinaryUrl image width=600 height=600 crop='fit' quality=100}}}" title="{{image.hover}}" />
            {{/each}}
        </div>
        <div class="post-info">
          <p class="title">{{{title}}}</p>
        </div>
      </button>
      {{/each}}
  </div>
  {{>pagination}}
  {{# each data.posts.results}}
    <div class="ajaxcontent lightbox">
      <ul class="lightbox-images {{slug}}" />
    </div>
    {{/each}}
</div>
{{>grid}}
<link href="/styles/gridpage.css" rel="stylesheet" />