{{>header}}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <article>
        <p><a href="/{{section}}">&larr; back to the blog</a></p>
        <hr>
        <header>
          <h1>{{data.post.title}}</h1>
          <h5>
						{{{tagList data.post.categories prefix="Posted in "}}}
						{{#if author.name.first}}by {{author.name.first}}{{/if}}
					</h5>
        </header>
        <div class="post">
          {{# each data.post.images  as |image|}}
            <img src="{{{cloudinaryUrl image width=750 height=450 crop='fit' }}}" class="img-responsive">
          {{/each}}
          {{{data.post.content}}}
        </div>
      </article>
    </div>
  </div>
</div>
{{>jquery}}
