{{>header}}
<div class="post-container">
  <article>
    <div class="post">
      {{# each data.post.images as |image|}}
        <div class="post-image">
          <img src="{{{ cloudinaryUrl image quality=100 width=1800 height=1800 crop='fit' }}}">
          <p>{{{image.caption}}}</p>
        </div>
        {{/each}}
        {{{data.post.content}}}
    </div>
    <p class='back'><a href="/{{section}}">&larr; back to {{section}}</a></p>
  </article>
</div>
<link href="/styles/post.css" rel="stylesheet" />
