<div class="header">
  <a class="name" href='/'><img src='/images/name.png' /></a>
  <h1 class="page-title">{{title}}</h1>
  <div class="mini-menu">
    <div class="menu-hex"></div>
    <ul class="menu-items">
      {{# each navLinks}}
        {{#ifeq ../section key}}
          {{else}}
            <li class="menu-item {{key}}">
              <a href="{{ href }}">{{ label }}</a>
            </li>
        {{/ifeq}}
        {{/each}}
    </ul>
  </div>
</div>
<link href="/styles/header.css" rel="stylesheet" />
